* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
