* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}

input:focus {
  box-shadow: 1px 1px 1px darkslategrey;
  transition: all 0.5s ease;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 9fr 1fr;
  align-items: center;
}
.container h2 {
  text-align: center;
}

.footer,
.header {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
  padding: 1em;
}

#overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modeform {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  margin-bottom: auto;
  background-color: whitesmoke;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  min-width: 300px;
  min-height: 300px;
  width: 70%;
  max-width: 600px;
  height: 50%;
  max-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 2fr;
}
.modeform button {
  justify-self: center;
  width: 90%;
  height: 75px;
  background-color: black;
  border: 2px solid black;
  color: whitesmoke;
}
.modeform button:hover {
  background-color: whitesmoke;
  cursor: pointer;
  color: black;
  transition: all 1s ease;
}
.modeform h2 {
  margin-top: 5%;
  letter-spacing: 2px;
  grid-column: 1/3;
  justify-self: center;
}
.modeform .xPlayer {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.modeform .xPlayer label {
  margin-top: 2%;
  align-self: center;
  font-size: 20px;
}
.modeform .xPlayer input {
  height: 50px;
  width: 90%;
}
.modeform .xPlayer img {
  height: 80px;
  width: 80px;
}
.modeform .oPlayer {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.modeform .oPlayer label {
  margin-top: 2%;
  align-self: center;
  font-size: 20px;
}
.modeform .oPlayer input {
  height: 50px;
  width: 90%;
}
.modeform .oPlayer img {
  height: 80px;
  width: 80px;
}
.modeform .buttons {
  grid-area: 3/1/4/3;
  display: flex;
  justify-content: space-evenly;
  gap: 5%;
  padding-bottom: 5%;
}
.modeform .buttons button {
  width: 45%;
  font-size: 200%;
}
.modeform .buttons .start {
  background-color: black;
  color: whitesmoke;
  border: 2px solid black;
}
.modeform .buttons .start:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}
.modeform .buttons .difficulty {
  background-color: darkgreen;
}
.modeform .buttons .difficulty:hover {
  background-color: darkred;
  cursor: pointer;
}

.pvaiform {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  margin-bottom: auto;
  background-color: whitesmoke;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  min-width: 300px;
  min-height: 300px;
  width: 70%;
  max-width: 600px;
  height: 50%;
  max-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 2fr;
  display: none;
}
.pvaiform button {
  justify-self: center;
  width: 90%;
  height: 75px;
  background-color: black;
  border: 2px solid black;
  color: whitesmoke;
}
.pvaiform button:hover {
  background-color: whitesmoke;
  cursor: pointer;
  color: black;
  transition: all 1s ease;
}
.pvaiform h2 {
  margin-top: 5%;
  letter-spacing: 2px;
  grid-column: 1/3;
  justify-self: center;
}
.pvaiform .xPlayer {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.pvaiform .xPlayer label {
  margin-top: 2%;
  align-self: center;
  font-size: 20px;
}
.pvaiform .xPlayer input {
  height: 50px;
  width: 90%;
}
.pvaiform .xPlayer img {
  height: 80px;
  width: 80px;
}
.pvaiform .oPlayer {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.pvaiform .oPlayer label {
  margin-top: 2%;
  align-self: center;
  font-size: 20px;
}
.pvaiform .oPlayer input {
  height: 50px;
  width: 90%;
}
.pvaiform .oPlayer img {
  height: 80px;
  width: 80px;
}
.pvaiform .buttons {
  grid-area: 3/1/4/3;
  display: flex;
  justify-content: space-evenly;
  gap: 5%;
  padding-bottom: 5%;
}
.pvaiform .buttons button {
  width: 45%;
  font-size: 200%;
}
.pvaiform .buttons .start {
  background-color: black;
  color: whitesmoke;
  border: 2px solid black;
}
.pvaiform .buttons .start:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}
.pvaiform .buttons .difficulty {
  background-color: darkgreen;
}
.pvaiform .buttons .difficulty:hover {
  background-color: darkred;
  cursor: pointer;
}
.pvaiform img:hover {
  cursor: pointer;
}
.pvaiform button:first-child:hover {
  color: white;
}

.pvpform {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  margin-bottom: auto;
  background-color: whitesmoke;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  min-width: 300px;
  min-height: 300px;
  width: 70%;
  max-width: 600px;
  height: 50%;
  max-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 2fr;
  display: none;
}
.pvpform button {
  justify-self: center;
  width: 90%;
  height: 75px;
  background-color: black;
  border: 2px solid black;
  color: whitesmoke;
}
.pvpform button:hover {
  background-color: whitesmoke;
  cursor: pointer;
  color: black;
  transition: all 1s ease;
}
.pvpform h2 {
  margin-top: 5%;
  letter-spacing: 2px;
  grid-column: 1/3;
  justify-self: center;
}
.pvpform .xPlayer {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.pvpform .xPlayer label {
  margin-top: 2%;
  align-self: center;
  font-size: 20px;
}
.pvpform .xPlayer input {
  height: 50px;
  width: 90%;
}
.pvpform .xPlayer img {
  height: 80px;
  width: 80px;
}
.pvpform .oPlayer {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.pvpform .oPlayer label {
  margin-top: 2%;
  align-self: center;
  font-size: 20px;
}
.pvpform .oPlayer input {
  height: 50px;
  width: 90%;
}
.pvpform .oPlayer img {
  height: 80px;
  width: 80px;
}
.pvpform .buttons {
  grid-area: 3/1/4/3;
  display: flex;
  justify-content: space-evenly;
  gap: 5%;
  padding-bottom: 5%;
}
.pvpform .buttons button {
  width: 45%;
  font-size: 200%;
}
.pvpform .buttons .start {
  background-color: black;
  color: whitesmoke;
  border: 2px solid black;
}
.pvpform .buttons .start:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}
.pvpform .buttons .difficulty {
  background-color: darkgreen;
}
.pvpform .buttons .difficulty:hover {
  background-color: darkred;
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.gamebody {
  align-self: flex-start;
  display: grid;
  grid-template-rows: 7fr 1fr;
}

.gameboard {
  min-width: 300px;
  min-height: 300px;
  height: 400px;
  width: 400px;
  justify-self: center;
  align-self: flex-start;
  background-color: lightslategray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid whitesmoke;
  margin-top: 5%;
  gap: 1%;
}
.gameboard .tile {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 600;
}
.gameboard .tile:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

#reset {
  justify-self: center;
  width: 90%;
  height: 75px;
  background-color: black;
  border: 2px solid black;
  color: whitesmoke;
  width: 300px;
}
#reset:hover {
  background-color: whitesmoke;
  cursor: pointer;
  color: black;
  transition: all 1s ease;
}

/*# sourceMappingURL=output.css.map */
